.side-bg {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 100vh;
    min-height: 100%;
    width: 100%;
}
.h1, h1 {
    font-size: 3.5rem;
}