.pt-10{
    padding: 6rem 3rem 1rem 3rem;
}
label{
    margin-bottom: unset;
}
.bg-light {
    background-color: #FDFDFD !important;
}
.bg-grey {
    background-color: #F1F0F0;
}
.text-orange{
    color: #F27016 !important;
}
.text-grey{
    color : #A3A3A3! important;
}
a:hover,a:focus,a{
    color: #000 !important;
    text-decoration: unset !important;
}
.border-b-1{
    border-bottom: 1px solid rgb(242, 242, 242);
}
.orange-btn:hover{
    background-color: #E85A19 !important;
    color : white;
}
.btn-black:hover{
    background-color: #152B39 !important;
    color : white;
}
.btn-bookmark{
    color: #A3A3A3;
}
.btn-bookmark:hover,btn-bookmark:focus{
   color: #fbb800;
}
.w-30px{
    min-width : 30px !important;
}
@media only screen and (max-width: 600px) {
    .side-bg {
        background-size: inherit;
        background-position: bottom;
        background-color: #c6c5c3;
        height: 8rem;
    }
    .side-bg .side-container{
        padding-left: 15px !important;
    }
    .side-bg  .h1, h1 {
        font-size: 1.5rem;
    }
    .pt-10{
        padding: 1rem 0rem !important;
    }
    .MuiTypography-h4 {
        font-size: 1.5rem !important;
    }
    .MuiTypography-body1{
        font-size: 12px !important;
    }
    .online-avatar{
        display: none !important;
    }
    .text-xs-center{
        text-align: center !important;
    }
  }